h1{
  text-align: center;
  margin-bottom: 15%;
}

.content-home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 760px 50px;
  justify-content: center;
  align-items: center;
}

.container{
  height: 400px;
  width: 50vw;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 500px;
}

.logo{
  width: 256px;
  height: 370px;
  background: url('../../../../assets/img/peru.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -130px;
  filter: drop-shadow(0px 5px 10px #ff0000);
  animation: rotar 7s linear infinite;
}

.logo:hover{
  cursor: pointer;
}

@keyframes rotar{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(-360deg);
  }
}

.bottom_part{
  width: 20rem;
  height: 20rem;
  position: absolute;
  bottom: -100px;
  background: #242424;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px 10px #11111136;
  transform: rotateX(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_part::before{
  content: "";
  width: 16rem;
  height: 16rem;
  position: absolute;
  bottom: 5rem;
  background: #ff0000;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px 10px #11111136;
  filter: blur(30px);
  animation: Animate 1s linear infinite;
}

@keyframes Animate {
  from{
    width: 16rem;
    height: 16rem;
  }
  50%{
    width: 12rem;
    height: 12rem;
  }
  to{
    width: 16rem;
    height: 16rem;
  }
}
